# OS
.DS_Store

# npm
/node_modules
npm-debug.log*

# Cypress
/cypress/downloads
/cypress/screenshots
/cypress/videos
cypress.env.json

# Next.js
/.next
/out
.env.local
.env.development.local
.env.test.local
.env.production.local

# Firebase
firebase-debug.log
firestore-debug.log
pubsub-debug.log
ui-debug.log
